footer h5{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #323232;
}

footer span{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #323232;
}

footer p{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

footer ul{
    list-style-type: none;
}


footer ul li{
    margin-top: 20px;
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}


footer li a:link{
    color:#323232;
    text-decoration: none;
}

footer li a:hover{
    color:#ff0000;
    text-decoration: none;
}


footer img{
    margin-top: -150px;
}
