html,body{
    min-width: 375px;
}

div, header {
    font-family: 'Be Vietnam', sans-serif;
}

.top-banner{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 30px;
    background-color: #FFC533;
}

.navbar-custom {
    background: #52BDD4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    width:100%;
    height: 50px;
}

.custom-toggler.navbar-toggler {
    border-color: #fff !important;
}

.custom-toggler .navbar-toggler-icon {
    background-color: #fff;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
}

.navbar-brand:hover{
    color: #eeeeee;
}

.navbar-custom .nav-item{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #323232;
    text-transform: uppercase;
    margin-left: 50px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.text-academy{
    margin-top: 20px;
}

.academykz{
    margin-top: 140px;
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #00768F;
}

.header-text1{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    color: #192C33;
}

.teacher-img{
    z-index: 0;
    margin-left: -50px;
}

.dids-img{
    margin-top: -700px;
    z-index: -1;
}
.students{
    width: 100%;
    height: 455px;
    background: #52BDD4;
    margin-top: -150px;
    z-index: 0;
}

.student-img{
    margin-top: -577px;
    width: 535px;
    height: 803px;
}

.trophy-img{
    width: 280px;
    height: 230px;
    margin-top: -5px;
}
.students-text{
    margin-left: 550px;
    margin-top: 80px;
    width: 671px;
    height: 150px;
}
.students-text h1{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 100px;
    margin-bottom: 50px;
}

.students-text p{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}

.images-bottom{
   margin-top: -100px;
    margin-left: 520px;
}

.images-bottom img{
    margin: 0 20px 0 0;
}



.teachers{
    position: relative;
    margin-top: 100px;
    width:100%;
    height: 770px;
}

.teachers-p{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #192C33;
    margin: 100px 0 0 100px;
}

.teachers p{
    font-family: 'Be Vietnam', sans-serif;
    width: 585px;
    height: 262px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin: 50px 0 0 150px;
}

.teacher-img-box{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

.teachers-image{
    width: 822px;
    height: 548px;
}


.tests{
    width: 100%;
    height: 1850px;
    background: #52BDD4;
}

.tests h1{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #FFFFFF;
}

.test-items{
    margin-top: 100px;
    height: 850px;
    width: 90%;
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

.woman-img{
    margin-right: 0;
    margin-top: -750px;
}

.rectangle-image{
    width: 70%;
}

.rectangle-image p{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #027189;
    width: 270px;
    height: 83px;
}

.all-tests {
    margin-top: 100px;
    margin-left: 100px;
}

.all-tests div{
    margin-bottom: 50px
}

.all-tests img{
    margin-left: 50px
}

.materials h1{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.materials h3{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #323232;

}

.materials p{
    font-family: 'Be Vietnam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #323232;
    width: auto;

}
.material-image{
    margin-top: -500px;
}


/********** mobile sidebar *****************/

#sidebar {
    width: 275px;
    position: fixed;
    top: 0;
    left: -275px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 18px;
    color: #0a0a0d;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-nav{
    color: #ffffff;
}

.sidebar-nav li a{
    font-family: 'Be Vietnam', sans-serif;
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a {
    color: white;

}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    Mobile Av
----------------------------------------------------- */
.mobile-nav{
    display: flex;
    padding: 1% 1%;
    width: 100%;
    background-color: #0abee5;
    justify-content: space-between;
}

.mobile-nav .menu-btn{
    position: relative;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: none;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -15px;
    width: 30px;
    border-radius: 2px;
    height: 3px;
    background-color: #ffffff;
}
.menu-btn span::before,
.menu-btn span::after {
    content: '';
}
.menu-btn span::before{
    transform: translateY(-10px);
}
.menu-btn span::after{
    transform: translateY(10px);
}

.menu-cls-btn{
    position: relative;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: none;
}


.mobile-nav .logo{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
}

.mobile-nav .profile{
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #8e92fb;
}




/******************
    FOOTER
 */

footer {
    font-family: 'Be Vietnam', sans-serif;
}

footer h5{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #323232;
}

footer span{
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #323232;
}

footer p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

footer ul{
    list-style-type: none;
}


footer ul li{
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
}


footer li a:link{
    color:#323232;
    text-decoration: none;
}

footer li a:hover{
    color:#ff0000;
    text-decoration: none;
}


footer img{
    margin-top: -150px;
}


/************
Mobile
 */


@media screen and (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
    header{
        position: relative;
        width: 100vw;
        max-width: 100vw;
        height: 385px;
    }

    .academykz{
        margin-top: 27px;
        font-family: 'Be Vietnam', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 53px;
        color: #323232;
    }

    .text-academy{
        margin-top: 55px;
        font-family: 'Be Vietnam', sans-serif;
    }

    .header-text1{
        max-width: 180px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #192C33;
    }

    .text-academy p{
        margin-top: 0;
        max-width: 180px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #444444;
        line-height: 18px;
    }

    .teacher-img-box{
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .teacher-img{
        height: 340px;
        transform: translateX(30%);
    }

    .students{
        position: relative;
        width: 100%;
        height: 455px;
        margin-top: 0;
    }

    .students .students-text{
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
    .students .students-text h1{
        text-align: center;
        font-family: 'Be Vietnam', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .students .students-text p{
        font-family: 'Be Vietnam', sans-serif;
        width: 90%;
        margin: 0 auto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        color: #323232;
    }


    .students .student-img{
        position: absolute;
        margin-top: 0;
        width: 215px;
        height: 320px;
        left: 0;
        bottom: 0;
    }

    .students .trophy-img{
        position: absolute;
        margin-top: 0;
        width: 90px;
        height: 80px;
        right: 10%;
        bottom: 0;
    }

    .images-bottom{
        display: none;
        margin-top: 0;
        flex-direction: column;
    }

    .images-bottom img:first-child{
        display: none;
    }
    .images-bottom img{
        width: 80px;
        height: 60px;
        margin: 10px;
    }


    .teachers{
        position: relative;
        margin-top: 0;
        width: 100%;
        height: 385px;
    }

    .teachers-p{
        margin: 10px 0;
        text-align: center;
        font-family: 'Be Vietnam', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
    }

    .teachers p{
        font-family: 'Be Vietnam', sans-serif;
        width: 270px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #222222;
        margin: 10px 0 0 20px;
    }

    .teachers-image{
        position: relative;
        width: 457px;
        height: 308px;
        transform: translateX(10%);
    }

}

